body{
    margin: 0;
}

/* Fundos */
.bg-beje{
    background-color: #FFF3D6;
    padding: 70px;
}

.bg-laranja{
    background-color: #F9A833;
    font-family: "Rajdhani SemiBold";
    color: white;
}

.bg-deg-laranja-i{
    background-image: linear-gradient(to left, #B15801, #F9922F, #FDC640);
    padding-top: 20px;
    padding-bottom: 10px;
}

.bg-laranja p{
    font-size: 50px;
}

.bg-deg-roxo{
    background-image: linear-gradient(to right, #2F213D, #7A41B2);
}

.bg-lilas{
    background-color: #E1CBFD;
    padding: 20px;
}

.bg-lilas-escuro{
    margin-top: 15px;
    background-color: #B4A0D5;
    padding: 20px;
    display: block;
}

.bg-deg-roxo-laranja{
    background-image: linear-gradient(to right, #2F213E, #543878,#D4A126, #EBB824);
}

.deg-form{
    background-image: linear-gradient(to right, #412966, #5B3691, #B9885E, #D4A241);
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-style: none;
    font-family: "Rajdhani Bold";
    display: flex;
    margin-left: 5px;
}

.form-ladinho{
    display: flex;
    flex-direction: column;
    min-width: 80px;
}

.cad-flex{
    align-items: center;
    display: flex;
}

#deg-btn{
    margin-top: 40px; 
    margin-bottom: 30px;
    background-image: linear-gradient(to right, #312241, #51346F, #674088, #51346F, #312241 );
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 45px;
    font-size: 25px;
    font-family: "Rajdhani Bold";
    border-style: none;
}

#deg-btn:hover{
    background-image: linear-gradient(to right, #F2AC3B, #F7B74F, #F2AC3B);
}

/* Barras de separação */
.bar-beje{
    background-image: linear-gradient(to right, #FEEDBD, #FFF9EB);
    padding-top: 102px;
}

.bar-laranja{
    background-image: linear-gradient(to right, #FD8833, #FD9B33);
    padding-top: 40px;
}

.bar-laranja-g{
    background-color: #FD8F33;
    padding: 20px;
}

.bar-laranja-clara-m{
    background-color: #FFB618;
    padding: 15px;
}

.bar-roxa-p{
    background-color: #4E335D;
    padding: 10px;
}

.bar-roxa-claro-m{
    background-color: #756790;
    padding: 10px;
}

.bar-laranja-clara-m{
    background-color: #F6A519;
    padding: 15px;
}

.bar-laranja-g{
    background-color: #FA8233;
    padding: 20px;
}

.bar-beje-i{
    background-image: linear-gradient(to left, #FEEDBD, #FFF9EB);
    padding-top: 40px;
}

.blankSpace{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg-deg-laranja{
    background-image: linear-gradient(to right, #B25801, #F9922F, #FDC640);
}

/* cadastro newsletter */
.flex{
    display: flex;
    flex-direction: row;
}

#cad{
    flex-grow: 2;
    margin-top: auto;
    margin-bottom: auto;
}

#bg-newsl{
    flex-grow: 1;
}


/*Caso não tenha a fonte "Radjhani" trocar por "Franklin Gothic"*/
.titulo-g{
    font-family: "Rajdhani Bold", "Franklin Gothic Demi Cond";
    color: white;
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.titulo-p{
    font-family: "Rajdhani Bold", "Franklin Gothic Demi Cond";
    font-size: 55px;
    text-align: center;
    margin: 0;
    color: white;
}
.cad-nl{
    font-family: "Rajdhani SemiBold", "Franklin Gothic Book";
    font-size: 25px;
}

/* Área dos cards */

.margem{
    margin-left: 7vw;
}

div.back{
    display: none;
}

.flip-card{
    display: inline-block;
}

.flip-card:hover div.face{
    display: none;
}

.flip-card:hover div.back{
    display: unset;
}

/* Área da navbar */
#navbar{
    position: fixed;
    margin: 0;
    width: 100%;
    background-image: linear-gradient(to right, #FFAB00, #FF8900);
    padding-left: 0;
    text-decoration: none;
}

.navbar{
    display: inline-flex;
}

.navbar a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: "Rajdhani Bold";
}

.navbar a:hover{
    background-color: #E77F1E;
}

#splayNav{
    position: absolute;
    top: 0;
    left: 0;
}

#links{
    display: inline-flex;
    width: auto;
    height: 66px;
}

#nlNav {
    position: absolute;
    top: 0;
    right: 0;
}

.link {
    width: auto;
    margin-left: 17.8%;
    font-size: 30px;
    background-color: #FFB618;
}

/* Tamanho de imagens */ 
.imgFull{
    width: 100%;
    height: 90%;
}

.imgCentro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    width: 100%;
}

/* Fonte */
@font-face {
    font-family: "Rajdhani Bold";
    src: url(../fonts/Rajdhani-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Rajdhani SemiBold";
    src: url(../fonts/Rajdhani-Light.ttf);
    font-weight: 300;
}

.center-margin{
    padding-top: 3px;
    text-align: center; 
}

/*card diferencial */
 /* #diferencial1{
    display: none;
}

#diferencial2{
    display: none;
}

#diferencial3{
    display: none;
}

#diferencial4{
    display: none;
} */

.margem-card-aberto{
    display: block;
    margin-left: 3vw;
    margin: auto;
    width: 100%;
    max-width: 372px;
    height: 0px;

    transition: height .1s ease-out;
}

.margem-card-aberto.expandido{
    height: 500px;
}

.diferencial-apaso-parcialmente1:focus > #diferencial1{
    display: inline;
}

#senai-espaco{
    margin-right: 5px;
}